

@media screen and (max-width: 1600px) {
	.container {
		max-width: 90%;
	}

	.menu-container {
    padding: 0 150px 0 200px;
	}
	.hero-title-box {
		width: 53%;
	}
	.progress-bg {
    	width: 75%;
	}
	.video-button {
		width: 120px;
		height: 120px;
	}
	.video-button.golden {
		top: -35px;
		left: auto;
    	right: -15px;
	}
	.video-button span {
		height: 60px;
		font-size: 20px;
	}
	.bs-icon {
		width: 50px;
	}
	.services-list-item .services-submenu.opened {
    padding: 20px 40px 0 50px;
	}
}

@media screen and (max-width: 1440px) {
	.menu-container {
    padding: 0 140px 0 180px;
	}
	.nav-list {
	font-size: 28px;
	}
	.logo-link {
		width: 180px;
	}
	.logo-link img {
		width: 100%;
	}
	.contacts-tell {
		font-size: 16px;
	}
	.contacts-item {
		font-size: 14px;
	}
	.lang {
		font-size: 14px;
	}
	.hero {
		height: 100%;
	}
	
	.hero-title {
	font-size: 78px;
	}
	.hero-title-spec {
    left: -80px;
    top: -80px;
    /*font-size: 74px;*/
    font-size: 84px;
	}
	.hero-title:before, 
	.hero-title:after {
		left: 50px;
	}
	.hero-title:before {
		height: 70px;
	}
	.hero-title:after {
		height: 140px;
	}
	.hero-title-box {
    padding: 0 0 0 105px;
	}
	.video-button {
    width: 110px;
    height: 110px;
   	}
	.play-icon {
    width: 12px;
    height: 12px;
	}
	.video-button span {
    height: 55px;
    font-size: 18px;
	}
	.link-socio {
    width: 50px;
    height: 50px;
	}
	.link-socio svg {
		width: 15px;
	}

	.offers-content b,
	.offers-content h3 {
	font-size: 20px;
 	}

	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	.progress-box {
    left: 3%;
    bottom: 35px;
	}
	.offers-content {
    margin: 110px 0 0 -70px;
    padding: 75px;
	}
	.offers-img-thumb {
    height: calc(100% - 100px);
	}
	.arrow-btn {
    top: 55px;
	}
	.arrow-btn > li:hover {
    transform: scale(1.5);
	}
	.services .container {
    padding: 100px 80px;
	}
 	.services-list {
    font: 300 22px/2.4 "Montserrat", sans-serif;
	}
	.services-list-item .services-submenu.opened {
    padding: 20px 30px 0 60px;
	}
	.advantages-text {
    font-weight: 400;
	}
}

@media screen and (max-width: 1366px) {
	.menu-container {
    padding: 0 195px 0 170px;
	}
	.nav-list {
    font-size: 20px;
	}
	.logo-link {
    width: 140px;
	}
	.contacts {
	margin-right: 70px;
	}
	.contacts > li {
    white-space: nowrap;
	}
	.link-socio {
    width: 40px;
    height: 40px;
	}

	.counter span {
    font: 500 16px/1.2 "Montserrat", sans-serif;
	}
	
	.services-title {
    margin-bottom: 65px;
	}
	.services .container {
    position: relative;
    padding: 60px 60px 60px 60px;
	}
	.services-submenu li:not(:last-child) {
    margin-bottom: 40px;
	}
	.advant-icon {
    width: 45px;
    height: 45px;
	}
	.advantages-list-item:hover .advant-icon {
    width: 65px;
    height: 65px;
	}
}

@media screen and (max-width: 1024px) {
	.menu-container {
    padding: 0 140px 0 130px;
	}
	.nav-list {
    font-size: 16px;
	}
	.sand-link {
    margin-right: 50px;
	}
	.contacts {
    margin-right: 20px;
	}
	.contacts-tell {
	font: 500 14px/0.45 "Montserrat", sans-serif;
	}
	.contacts-tell img {
    margin-right: 6px;
	}
	.contacts > li:not(:last-child) {
    margin-right: 20px;
	}
	.hero-title-spec {
    left: -50px;
    top: -70px;
    /*font-size: 54px;*/
    font-size: 68px;
	}
	.hero-title {
	font-size: 50px;
  	}
  	.hero-title:before,
  	.hero-title:after {
  		left: 20px;
  		width: 1px;
  	}
  	.hero-title:after {
     top: calc(100% + 150px);
	}
	.button {
    padding: 15px 23px;
    font-size: 14px;
	}
	.video-button {
    width: 80px;
    height: 80px;
	}
	.video-button span {
    height: 40px;
    font: 400 14px/0.44 "Montserrat", sans-serif;
	}
	.play-icon {
    width: 10px;
    height: 10px;
	}
	.video-button.golden {
    top: -20px;
    left: auto;
    right: -10px;
	}
	.bs-icon {
    width: 35px;
	}
	.progress-bg {
	width: 70%;
    /*width: 230px;*/
	}
	.services .container {
    padding: 40px;
	}
	.services-title {
    margin-bottom: 45px;
    font-size: 22px;
	}
	.services-list {
    font-size: 20px;
	}
	.services-list-item .services-submenu.opened {
    padding: 25px 25px 0 40px;
    max-height: 100%;
    font-size: 16px;
    font-weight: 300;
	}
	.services-submenu li:not(:last-child) {
    margin-bottom: 30px;
	}
}

@media screen and (max-width: 768px) {
	.sand-link {
	width: 20px;
	height: 20px;
    margin-right: 40px;
	}
	.sand {
	width: 20px;
	}
	.sand:before, .sand:after {
    width: 20px;
	}
	.sand:before {
    top: -6px;
	}
	.sand:after {
    bottom: -6px;
	}	
	.logo-link {
    width: 100px;
	}
	.contacts {
	margin-right: 20px;
	}
	.contacts > li:not(:last-child) {
	margin-right: 20px;
	}
	.contacts-item {
		display: none;
	}
	.menu-container {
		flex-direction: column;
		justify-content: center;
		padding: 0 80px 0 110px;
	}
	.menu-container nav {
	margin-bottom: 30px;
	}
	.menu-contacts {
	display: block;
	width: 100%;
	font-size: 14px;
    color: #fff;
	}
	.menu-contacts-item:not(:last-child) {
		margin-bottom: 15px;
	}
	.menu-contacts-item {
		transition: all .3s linear;
	}
	.menu-contacts-item:hover {
		color: var(--gold-text-color);
	}
	.contacts-tell img {
    width: 12px;
    margin-right: 10px;
	}
	.lang-item-main img {
		width: 8px;
	}
	
	/*герой*/
	.hero-title-box {
    padding: 0 0 0 65px;
	}
	/*.hero-title-box:before {
    left: 40%;
	}*/
	.hero-title-spec {
	left: -40px;
    top: -50px;
    font-size: 40px;
	}
	/*.hero-title-spec:before {
    bottom: 100px;
    width: 70px;
	}
	.hero-title-spec:after {
    bottom: 100px;
    left: 270px;
    width: 160px;
	}*/
	.hero-title:before,
	.hero-title:after {
		left: 15px;
	}
	.hero-title:after {
    height: 120px;
	}
	.hero-title {
	font-size: 40px;
	}
	.button {
	padding: 13px 15px;
	}
	.video-button {
    width: 60px;
    height: 60px;
    bottom: 0px;
	}
	.play-icon {
    width: 8px;
    height: 8px;
	}
	.video-button span {
    height: 30px;
    font: 400 10px/0.44 "Montserrat", sans-serif;
	}
	.list-socio > li:not(:last-child) {
    margin-bottom: 15px;
	}
	.link-socio {
    width: 30px;
    height: 30px;
	}
	.link-socio svg {
    width: 10px;
    height: 10px;
	}

	/*секція акції*/
	.offers .container {
     padding-bottom: 40px;
	}
	.progress-box {
	display: none;
	}
	.arrow-btn > li {
    width: 30px;
    height: 30px;
	}
	.arrow-btn > li:hover {
    transform: scale(1.3);
	}
	.arrow-btn > li:not(:last-child) {
    margin-right: 30px;
	}
	.arrow-btn svg {
	width: 5px;
	height: 10px;
	}
	.offers-img-thumb {
    height: calc(100% - 80px);
	}
	.offers-content {
	padding: 40px;
	margin: 30px 0 0 -260px;
	max-width: 75%;
	}
	.offers-content b {
	margin-bottom: 40px;	
    font: 500 16px/1.2 "Montserrat", sans-serif;
	}
	.offers-content b:after {
    bottom: -20px;
	}
	.offers-content h3 {
	margin-bottom: 40px;
	font-size: 16px;
    }
    .offers-content p {
    margin-bottom: 55px;
    }
	.arrow-btn {
    left: 10px;
    top: auto;
    bottom: 40px;
    transform: translateY(50%);
	}

	/*секція послуги*/
	
	.services-list {
	font-size: 16px;
 	}
	.services-list-item > span:before {
    margin-right: 30px;
    font: 700 12px/3.5 "Montserrat", sans-serif;
	}
	.services-list-item:not(:last-child) > span:after {
    left: 30px;
	}
	.services-submenu li:not(:last-child) {
    margin-bottom: 20px;
	}

	.services-list-item .services-submenu.opened {
    padding: 10px 10px 0 10px;
    font-size: 14px;
    font-weight: 200;
	}
	
	/*переаваги*/
	.advantages .container {
    padding-top: 50px;
    padding-bottom: 50px;
	}
	.advantages-list {
    flex-wrap: wrap;
    justify-content: space-between;
	}
	.advantages-list-item {
    width: calc(100% / 2);
	}
	.advant-list-box {
    padding: 50px 30px 40px 30px;
	}
	.advant-line {
	margin-bottom: 30px;
    width: 70px;
    height: 4px;
	}
	.advantages-text {
	height: 100%;
	font-size: 16px;
   	}
	.advantages-list-item:hover {
    transform: none;
	}
	.advantages-list-item:hover .advant-icon{
	margin-bottom: 33px;
    width: 55px;
    height: 55px;
	}
	.advant-icon {
    margin-bottom: 33px;
    width: 55px;
    height: 55px;
	}
}

@media screen and (max-width: 480px) {

	header .container {
    justify-content: space-between;
	}
	.menu-container {
	left: 38%;
	right: -5.5%;
	transform: translateY(-100%);
	padding: 0 40px 0 40px;
	}
	
	.nav-list {
    font: 300 16px/2 "Montserrat", sans-serif;
	}
	
	.contacts {
	margin-right: 0;
	flex-grow: 0;
	}
	.contacts > li:not(:last-child) {
    margin-right: 0;
}
	.contacts li:not(:first-child) {
	display: none;
	}
	.contacts-tell img {
    width: 10px;
    margin-right: 5px;
	}
	.lang {
	display: none;
	}
	.logo-link {
    order: 0;
    width: 90px;
	}
	.sand-link {
    margin-right: 0;
    order: 2;
	}
	.sand-link span {
	background-color: #fff;
	}
	.sand:before, .sand:after {
    background: #fff;
 	}
	
	.hero-title-box {
    padding: 0 0 0 45px;
	}
	.hero-title {
		margin-bottom: 30px;
		font-size: 26px;
	}
	.hero-title-spec {
    left: -25px;
    top: -30px;
    font-size: 30px;
	}
	.hero-title:before,
	.hero-title:after {
		left: 10px;
	}
	.hero-title:after {
    height: 40px;
    top: calc(100% + 65px);
	}
	.hero-title:before {
    height: 25px;
    bottom: calc(100% + 5px);
	}
	/*.hero-title-spec:before {
	bottom: 55px;
	}
	.hero-title-spec:after {
	bottom: 55px;
	left: 200px;
	}*/
	
	.button {
	padding: 10px;
    font-size: 10px;
    background-color: #f1f1f1;
    opacity: 0.588;
	}
	.video-button {
		width: 46px;
		height: 46px;
		right: -60px;
	}
	.play-icon {
		width: 6px;
		height: 6px;
	}
	.video-button span {
		height: 25px;
	}

	.video-button.golden {
    top: -15px;
    left: auto;
    right: 5px;
	}
	.bs-icon {
	width: 20px;
	}
	.video-button span {
    height: 23px;
    font-weight: 300;
	}
	
	.offers-img-thumb {
    display: none;
	}
	.offers-content {
	max-width: 100%;
    padding: 40px 20px 40px 20px;
    margin: 0;
	}
	.offers-content b {
    margin-bottom: 20px;
    font-size: 14px;
	}
	.offers-content b:after {
    bottom: -10px;
	}
	.offers-content h3 {
    margin-bottom: 40px;
    font-size: 14px;
	}
	.offers-content p {
	margin-bottom: 20px;
	font-size: 14px;
	}
	.arrow-btn {
	left: 15px;
	top: 83%;
	}
	.arrow-btn > li {
	width: 25px;
	height: 25px;
	}
	.arrow-btn > li:hover {
    transform: scale(1.1);
	}
	.arrow-btn > li:not(:last-child) {
    margin-right: 20px;
	}


	.services .container {
    padding: 25px;
	}
	.services-title {
    margin-bottom: 25px;
    font-size: 18px;
	}
	.services-title:after {
    bottom: -15px;
	}
	.services-list {
    width: 100%;
	}
	.services-list-item {
	position: relative;
	}
	.services-list-item .services-submenu {
    left: 0;
    font-size: 12px;
	}
	.services-list-item .services-submenu.opened {
	position: relative;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 8;
    padding: 10px 0px;
    background-color: transparent;
	}

	.advantages-list {
	display: block;
	}
	.advantages-list-item {
    width: 100%;
	}
}

@media screen and (max-height: 871px) {
	.hero-title-box {
	margin-top: 130px;
	}
	.hero-title:before {
  	 height: 60px;
	}
	.hero-title:after {

    top: calc(100% + 170px);
    height: 60px;
	}
}
@media screen and (max-height: 561px) {
	.hero-title {
    margin-bottom: 20px;
    font-size: 80px;
	}
	.hero-title:after {
    top: calc(100% + 100px);
	}
	.hero-title-box {
    padding: 0 0 0 130px;
	}
}
@media screen and (min-width: 1441px) and (max-height: 561px) {
	.hero-title-spec {
    font-size: 80px;
    top: -100px;
    left: -80px;
	}
}

