:root {
	--sand-color: #0f0f0f;
	--contacts-text: #dcdcdc;
	--gold-text-color: #e7c127;
	--burger-cross: #0f0f0f;
	--text-nav-current-bg-menu: #333333;
	--video-button: #e6e5e4;
	--socio-border: #8d8b8b;
	--close-cross: #ececec;
	--text-color: #918f8f;
	--big-arrow-border: #939393;
	--small-arrow-border: #e8e8e8;
	--progress-no-active: #eeeeee;
	--progress-text-no-active: #a7a5a5;
	--icons-no-active: #adadad;
	--gold-color: rgb(231, 193, 39);
} 

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
p {
	margin: 0;
}
img {
	display: block;
	/* max-width: 100%; */
}
a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	max-width: 1500px;
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
}


/*шапка*/

header {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    width: 100%;
    margin: 0 auto 0 auto;
}
header .container {
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px 0;
}

.sand-link {
	display: inline-block;
	height: 25px;
	margin-right: 130px;
	z-index: 9;
}
.sand {
	display: inline-block;
	width: 33px;
	height: 2px;
	background: var(--sand-color);

	transition: transform 250ms;
}
.sand:before,
.sand:after {
	display: block;
	content:"";
	width: 33px;
	height: 2px;
	background: var(--sand-color);
	display: block;
}
.sand:before {
	margin-top: 9px;
}
.sand:after {
	margin-top: -20px;
}

.sand-link.sand-link-active .sand {
	transform: rotate(-45deg);
	top: 50%;
	background-color: #fff;
}
.sand-link.sand-link-active .sand:before {
	transform: rotate(90deg) translateX(-9px);
	top: 0;
	background-color: #fff;
}
.sand-link.sand-link-active .sand:after {
	opacity: 0;
}

/*.sand-link:hover .sand:before {
	transform: rotate(90deg) translateX(-9px);
	top: 0;
	background-color: #fff;
}
.sand-link:hover .sand {
	transform: rotate(-45deg);
	top: 50%;
	background-color: #fff;
}
.sand-link:hover .sand:after {
	opacity: 0;
}*/

.menu-container {
	position: absolute;
	top: 0;
	left: -14%;
	/*left: -210px;*/
	transform: translateX(-100%);
	padding: 355px 225px 0 210px;
	height: 100vh;
	background-color: var(--text-nav-current-bg-menu);
	opacity: 0;
	transition: all .3s linear;
}
.menu-container nav {
	width: 100%;
	height: 100%;
}
.menu-container.active {
	transform: translateX(0);
	opacity: 1;
}
/*.sand-link:hover + .menu-container {
	transform: translateX(0);
	opacity: 1;
}*/
.nav-list {
	font: 300 32px/3.13 "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}
.nav-list-item {
	display: block;
	transition: all .3s linear;
}
.nav-list-item:hover {
	color: var(--gold-text-color);
	font-weight: 700;
}

.logo-link {
	display: inline-block;
}

.contacts {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
	margin-right: 104px;
	font: 100 16px/0.586 "Montserrat", sans-serif;
	color: var(--contacts-text);
}

.contacts > li:not(:last-child){
	margin-right: 24px;
}
.contacts-tell {
	display: flex;
	align-items: center;
	font: 700 20px/0.469 "Montserrat", sans-serif;
	color: var(--gold-text-color);
}
.contacts-tell img {
	margin-right: 15px;
}
.contacts-teleg-item {
	position: relative;
}
.contacts-teleg-item:before {
	position: absolute;
	top: 0;
	left: -11px;
	content: '';
	display: block;
	width: 1px;
	height: 12px;
	background-color: #fff;
}
.contacts-teleg-item:after {
	position: absolute;
	top: 0;
	right: -11px;
	content: '';
	display: block;
	width: 1px;
	height: 12px;
	background-color: #fff;
}
.contacts > li:not(:first-child) {
	transition: color 0.3s linear;
}
.contacts > li:hover:not(:first-child) {
	color: var(--gold-text-color);
}

.lang {
	font: 500 16px/0.6 "Montserrat", sans-serif;
	color: #fff;
}
.lang-item-main {
	position: relative;
	display: flex;
	align-items: baseline;
}
.lang-item-main > a {
	margin-right: 8px;
	padding: 6px 0;
}

.lang-sub {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding-top: 6px;
	opacity: 0;
	visibility: hidden;
}
.lang-sub > li:not(:last-child) {
	margin-bottom: 6px;
}
.lang-sub a {
	display: block;
	padding: 6px 0;
}
.lang-item-main .lang-sub.active {
	opacity: 1;
	visibility: visible;
}


/*герой*/

.hero {
  position: relative;
  max-width: 1920px;
  min-height: 100vh;
  height: 1080px;
  margin: 0 auto 0 auto;
}
.hero-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.hero-thumb {
	position: absolute;
	right: 0;
	max-width: 61%;
	height: 100vh;
	overflow: hidden;
}
.hero-thumb img {
	width: 100%;
	height: 100%;
	filter: brightness(0.45);
}
.hero-thumb video {
	height: 100%;
	filter: brightness(0.45);
}
.hero-title-spec {
	position: absolute;
	left: -100px;
	top: -60px;
	transform: rotate(90deg) translate(50%, 50%);
	text-transform: uppercase;
	font-size: 98px;
	line-height: 1.2;
	font-weight: 900;
	color: #f1f1f1;
}
.hero-title-spec:before{
	content: '';
	position: absolute;
    bottom: 220px;
    left: -150px;
	display: block;
	width: 129px;
	height: 2px;
	background-color: var(--text-nav-current);
	background-color: rgb(51, 51, 51);
}
.hero-title-spec:after {
	content: '';
	position: absolute;
    bottom: 220px;
    left: 600px;
	display: block;
	width: 212px;
	height: 2px;
	background-color: rgb(51, 51, 51);
}
.hero-title-box {
	position: relative;
	padding: 0 115px 0 165px;
}
.hero-title-box:before {
	content: '';
	position: absolute;
    top: -40px;
    left: 435px;
   	display: block;
	width: 340px;
	height: 500px;
	background-color: #f1f1f1;
	opacity: 0.588;
}
.hero-title {
	position: relative;
	margin-bottom: 80px;
	font: 300 122px/1 "Montserrat", sans-serif;
	color: rgb(51, 51, 51);
  	text-transform: uppercase;
}
.button {
	display: inline-block;
	width: 226px;
	height: 57px;
	border: 1px solid var(--gold-color);
	text-align: center;
	padding: 22px 0;
	font: 700 16px/0.586 "Montserrat", sans-serif;
	color: var(--text-nav-current-bg-menu);
	
	transition: color 0.3s linear, background-color 0.3s linear;
}
.button:hover {
	color: #fff;
	background-color: var(--gold-text-color);
}
.video-button {
  position: absolute;
  left: 690px;
  bottom: -10px;
  display: inline-block;
  width: 140px;
  height: 140px;
  transition: all 10s linear;
}
.video-button span {
  position: absolute;
  left: 50%;
  top: 0;
  transform-origin: bottom center;
  height: 70px;
  font: 500 22px/0.44 "Montserrat", sans-serif;
  color: #fff;
}
.video-button:hover {
	animation: rotateButton 5s linear infinite;
}

@keyframes rotateButton {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
.video-button:hover > .play-icon {
	/*transform: rotate(-300deg) translate(0, -50%);*/
	animation: rotateIcon 5s linear infinite;
}
.play-icon {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);

    /*transition: transform 5s linear;*/
    
}

@keyframes rotateIcon {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}

.char1 { transform: rotate(-1deg); }
.char2 { transform: rotate(19deg); }
.char3 { transform: rotate(39deg); }
.char4 { transform: rotate(59deg); }
.char5 { transform: rotate(79deg); }
.char6 { transform: rotate(114deg); }
.char7 { transform: rotate(134deg); }
.char8 { transform: rotate(154deg); }
.char9 { transform: rotate(174deg); }
.char10 { transform: rotate(194deg); }
.char11 { transform: rotate(229deg); }
.char12 { transform: rotate(249deg); }
.char13 { transform: rotate(269deg); }
.char14 { transform: rotate(289deg); }
.char15 { transform: rotate(309deg); }
.char16 { transform: rotate(329deg); }

.list-socio {
	align-self: flex-end;
	margin-bottom: -250px;

/*	position: absolute;
	right: 0;
	bottom: 70px;*/
}
.link-socio {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 66px;
	height: 66px;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: color .3s linear;
}
.list-socio > li:not(:last-child) {
	margin-bottom: 22px;
}
.link-socio:hover {
	border: 1px solid var(--gold-text-color);
}
.link-socio svg path {
	transition: fill .3s linear;
}
.link-socio:hover svg path {
	fill: var(--gold-text-color);
}

/*секція акційні пропозиції*/

.offers .container {
	position: relative;
	padding-top: 40px;
	padding-bottom: 104px;
	display: flex;
	align-items: flex-start;
}
.offers .container:hover .offers-img-bg {
	transform: scale(1.1);
	transform-origin: center;
}
.offers-img-bg {
	transition: all .3s linear;
}
.slide-box {
	display: flex;
	align-items: flex-start;
}
.offers-img-thumb {
	width: 100%;
	max-width: 56%;
	overflow: hidden;
	z-index: -1;
}
.offers-content {
	width: 100%;
	max-width: 56%;
	margin: 210px 0 0 -170px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 138px 140px 125px 140px;
	background-color: var(--text-nav-current-bg-menu);
	text-align: center;
}
.offers-content b {
  position: relative;
  font: 700 25px/1.2 "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 76px;
}
.offers-content b:after {
	position: absolute;
	left: 50%;
	bottom: -32px;
	transform: translateX(-50%);
	content: '';
	display: block;
	width: 95px;
	height: 2px;
	background-color: #fff;
}
.offers-content h3 {
  font: 400 25px/1.2 "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 70px;
}
.offers-content p {
	font: 300 16px/1.2 "Montserrat", sans-serif;
	color: rgb(145, 143, 143);	
	margin-bottom: 67px;
}
.offers-content .button {
	position: static;
    color: #fff;
}
.progress-box {
	position: absolute;
	left: 45px;
	bottom: 164px;
	display: flex;
	align-items: center;
}
.progress-bg {
  margin-right: 35px;
  width: 497px;
  height: 3px;
  background-color: var(--progress-no-active);
}
.progress {
  display: block;
  height: 100%;
  width: 25%;
  background-color: var(--text-nav-current-bg-menu);
}
.counter {
	font: 500 14px/1.2 "Montserrat", sans-serif;
	color: var(--progress-no-active);
}
.counter span {
	font: 500 20px/1.2 "Montserrat", sans-serif;
	color: var(--text-nav-current-bg-menu);
}
.arrow-btn {
	position: absolute;
	top: 99px;
	right: 40px;
	display: flex;
	
}
.arrow-btn > li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 63px;
	height: 63px;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
	transition: transform .3s linear, border-color .3s linear;
}
.arrow-btn > li:not(:last-child) {
	margin-right: 45px;
}
.arrow-btn-icon path {
	transition: fill .3s linear;
}
.arrow-btn > li:hover {
	transform: scale(2.0);
	border-color: #8c8c8c;
}
.arrow-btn > li:hover .arrow-btn-icon path {
	fill: #333333;
}


/*секція послуги салону*/

.services .container {
	position: relative;
	padding: 100px 165px 110px 165px;
}
.services-img-thumb {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.services-img-thumb img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.services-title {
	position: relative;
	margin-bottom: 115px;
	font: 700 25px/1.2 "Montserrat", sans-serif;
	color: var(--gold-text-color);
	text-transform: uppercase;
	text-align: center;
}
.services-title:after {
	position: absolute;
	left: 50%;
	bottom: -32px;
	transform: translateX(-50%);
	content: '';
	display: block;
	width: 93px;
	height: 1px;
	background-color: #fff;
}
.services-list {
	position: relative;
	width: 50%;
	font: 300 26px/2.7 "Montserrat", sans-serif;
	color: #fff;
	text-transform: uppercase;
	
	counter-reset: list-counter;
}

.services-list-item > span {
	position: relative;
	display: block;
}
.services-list-item > span:before {
	counter-increment: list-counter 01;
    content: "0" counter(list-counter) ' ';
    margin-right: 50px;
    font: 700 16px/4.4 "Montserrat", sans-serif;
}
.services-list-item:not(:last-child) > span:after {
	position: absolute;
	bottom: 0;
	left: 50px;
	content: '';
	display: block;
	width: 68%;
	height: 1px;
	background-color: #646464;
	transition: all .3s linear;
}
.servaces-list-item {
	transition: color .3s linear;
}
.services-list-item:hover {
	color: var(--gold-text-color);
	font-weight: 700;
}
.services-list-item:hover > span:after {
	width: calc(100% - 50px);
	background-color: var(--gold-text-color);
}

/*.services-list-item:hover .services-submenu {
	opacity: 1;
	left: 100%;
	padding: 0 95px 0 105px;
	width: 100%;
}*/
.services-list-item .services-submenu.opened {
	opacity: 1;
	left: 100%;
	padding: 0 95px 0 105px;
	width: 100%;
}
.services-list-item .services-submenu {
	opacity: 0;
	position: absolute;
	left: -100%;
	top:0;
	width: 100%;

	font: 500 18px/4 "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: none;
	max-height: 20em;
	visibility: hidden;
	transition: opacity .3s linear;
	/*max-height: 360px;*/
    overflow: auto;
}
/*.services-list-item .services-submenu.active,*/
.services-list-item .services-submenu.opened {
	opacity: 1;
	left: 100%;
	visibility: visible;
}

.services-list-item .services-submenu li {
	display: flex;
	justify-content: space-between;
	/*padding: 15px 0;*/
}
.services-list-item .services-submenu::-webkit-scrollbar {
	width: 4px;
}
.services-list-item .services-submenu::-webkit-scrollbar-track {
	background-color: #53504c;
}

.services-list-item .services-submenu::-webkit-scrollbar-thumb {
    background: #fff; 
}
.video-button.golden {
	position: absolute;
	top: -85px;
	left: 95%;
    /*left: 1435px;*/
    /*animation: buttonGolden 10s linear infinite;*/
}
.video-button.golden span {
	color: var(--gold-text-color);
}
.bs-icon {
	position: absolute;
	left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);

    /*animation: 10s linear infinite;
    animation-name: rotateIconBs, transformIconBs;*/
}
@keyframes buttonGolden {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes rotateIconBs {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, -360deg);
  }
}


/*секція переваги*/

.advantages .container {
	padding-top: 70px;
	padding-bottom: 70px;
}
.advantages-list {
	display: flex;
}
.advantages-list-item {
	position: relative;
	width: calc(100% / 4);
	border: 1px solid #fff;
	overflow: hidden;

	transform: all 3s linear;
}
.advant-list-bg {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 100%;
	filter: brightness(0.35);
	
	transition: filter .3s linear, transform 3s linear;
}
.advant-list-box {
	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 123px 48px 60px 48px;
}
.advant-icon {
	margin-bottom: 33px;
	width: 55px;
	
}
.advant-icon-hover {
	position: absolute;
	width: 55px;
	opacity: 0;
}
.advant-line {
	display: block;
	width: 91px;
	height: 6px;
	margin-bottom: 33px;
	background-color: #fff;

	transition: background-color .3s linear;
}
.advantages-text {
	font: 700 18px/1.2 "Montserrat", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: none;

	transition: color .3s linear;

	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	height: 83px;
}
.overlay {
	position: absolute;
	top: 0;
	z-index: -1;
	background-color: rgb(231, 193, 39, 0.702);
	width: 100%;
	height: 100%;
	opacity: 0;

	transition: opacity .3s linear;
}
.advantages-list-item:hover {
	transform: scaleY(1.23) translateY(15px);
	max-height: 370px;
}
.advantages-list-item:hover .overlay {
	opacity: 1;
}
.advantages-list-item:hover .advantages-text {
	color: #333333;
}
.advantages-list-item:hover .advant-line {
	background-color: #333333;
}
.advantages-list-item:hover .advant-icon {
	width: 80px;
	height: 80px;
	margin-bottom: 18px;
}
.advantages-list-item:hover .advant-list-bg {
	filter: brightness(1);
	transform: scale(1.1);
}
.advantages-list-item:hover .advant-icon path {
	fill: #333333;
}


